{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>generování formulářů</li>
            <li>Request a RedirectResponse (znovu)</li>
            <li>flash zprávy</li>
            <li>emailing</li>
            <li>Mailtrap.io</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            V tého kapitole se nenaučíme nic moc nového kolem databází, ale spíše s tím, jak dát uživatelům prostor pro vytvoření dotazu a jak mu dát zpětnou vazbu, že systém jeho požadavky zchroustal.
        </p>

        <p class="mt-6">
            Protože jsme spíše backenďáci, necháme si formuláře generovat. Dřív by mě to nenapadlo, protože jsem rád styloval a měl to pod svou kontrolou, ale při vývoji v Nette jsem na to narazil a má to své výhody. A teda... V normálním vývoji bychom to asi nechali úplně na frontendu, ale tady si zkrátíme cestu. Pomůže nám stroj a bundle <code>form</code>. Instalace je jednoduchá, jak facka:
        </p>

        <div class="code">
            <code>symfony composer req form</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req form')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Můžeme se podívat, jaké nové funkce nám povolí Symfony CLI. Zkusil bych se podívat nejdřív na to, co vyjede z <code>symfony console make</code>... Je tam seznam, v němž vidíme i příkaz, který hned spustíme:
        </p>

        <div class="code">
            <code>symfony console make:form</code>
            <button onclick="navigator.clipboard.writeText('symfony console make:form')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            CLI aplikace se vás zeptá na důležité otázky. Formulář pojmenujeme třeba <code>NewQuestionType</code> a navážeme jej na Entitu <code>Question</code>. Po odentrování se nám vytvoří <code>src/Form/NewQuestionType.php</code>. Soubor si prohlédněte. Funkci <code>buildForm()</code> upravíme ho do této podoby:
        </p>

        <div class="code">
            <code>
                <span class="text-green-500">$builder</span><br>
                    <span class="pl-4">->add('name', <span class="text-purple-300">TextType::class, ['label' => 'Nadpis otázky']</span>)</span><br>
                    <span class="pl-4">->add('text', <span class="text-purple-300">TextareaType::class, ['label' => 'Text otázky']</span>)</span><br>
                    <span class="pl-4">->add('submit', <span class="text-purple-300">SubmitType::class, ['label' => 'Uložit']</span>)</span><br>
                ;
            </code>
        </div>

        <p>
            Nechte si naimportovat <code>TextType</code>, <code>SubmitType</code> a <code>TextareaType</code> z <code>Symfony\Component\Form\Extension\Core\Type</code>. Tyto "datové" typy builderu, resp. jeho metodě <code>add()</code>, říkají, jakou variantu inputu má vytvořit a předávají se mu jako druhý parametr. Třetí parametr je <code>options</code>, kde si přeložíme popisek do češtiny. Tím máme značnou část formuláře hotovou. Nyní se odvede velký kus práce v <code>MainControlleru</code>, kde musíme formulář nechat vyvolat a pak ho i zpracovat:
        </p>

        <div class="code">
            <code>
                <span class="text-red-500">#[Route('/new', name: 'new', methods: ['GET', 'POST'])]</span><br>
                public function new(Request $request, EntityManagerInterface $entityManager): <span class="text-purple-300">Response|RedirectResponse</span><br>
                {<br>
                <span class="pl-4">$question = new Question();</span><br>
                <br>
                    <span class="pl-4 text-purple-300">$form = $this->createForm(NewQuestionType::class, $question);</span><br>
                    <span class="pl-4 text-purple-300">$form->handleRequest($request);</span>
                <br>
                <span class="pl-4">if (<span class="text-purple-300">$form->isSubmitted()</span>) {</span><br>
                <span class="pl-8">$question->setDate(new \DateTime());</span><br>
                <span class="pl-8">$question->setVotes(0);</span><br>
                <br>
                <span class="pl-8">$entityManager->persist($question);</span><br>
                <span class="pl-8">$entityManager->flush();</span><br>
                <br>
                <span class="pl-8 text-purple-300">$this->addFlash('success', 'Dotaz byl úspěšně přijat');</span><br>
                <span class="pl-8 text-green-500">return</span> $this->redirectToRoute('index');<br>
                <span class="pl-4">}</span><br>
                <br>
                <span class="pl-4 text-green-500">return</span> $this->render('main/new.html.twig', [<br>
                <span class="pl-8">'form' => $form->createView(),</span><br>
                <span class="pl-4">]);</span><br>
                }
            </code>
        </div>

        <p>
            První upozornění - pokud nejste na PHP 8, dejte si pozor na návratové typy této funkce. Symbol <code>|</code> v PHP 8 umožňuje vícero možností návratové hodnoty funkce. V tomto případě buďto vrátím klasický <code>Response</code>, když jde člověk na stránku <code>/new</code> a neodesílá data ve formuláři, nebo <code>RedirectResponse</code> v případě, že údaje odesílá serveru. Po odeslání dat uživatele totiž přeposíláme na seznam otázek.
        </p>

        <p class="mt-6">
            Kód není nepodobný tomu, co už známe. Jen začínáme pracovat s daty z requestu pomocí formuláře, který inicializujeme pomocí metody <code>createForm()</code>. Ta bere 2 parametry: třídu <code>NewQuestionType</code>, kterou jsme před chvílí vygenerovali a upravili, a nový objekt <code>$question</code>. Metoda <code>handleRequest</code> nám zjednodušuje manipulaci s daty uvnitř <code>$request</code> a rovnou si je přenáší do objektu <code>$question</code>. Tudíž nemusíme složitě vyvolávat settery pro každé pole.
        </p>

        <p class="mt-6">
            Poslední nový kód je <code>$this->addFlash()</code>. Má dva parametry: 1. označení zprávy, 2. samotnou zprávu. Díky této metodě se vytvoří session, jejíž obsah se zobrazí na stránce po přesměrování. Je to jednoduchá zpětná vazba uživateli, že server zpracoval jeho požadavek. Pokud jste pracovali už s nějakým frameworkem, není top pro vás žádné překvápko. Kdybyste ale teď vyzkoušeli vytvoření nového dotazu a přesměrování, flash zpráva se nezobrazí. Pro to je nutné zasáhnout do <code>index.html.twig</code> následovně:
        </p>

        <div class="code">
            <code>
                {% verbatim %}
                    <span class="text-red-500">{% for msg in <span class="text-purple-300">app.flashes('success')</span> %}</span><br>
                        <span class="pl-4">&lt;div class="mt-6 text-green-500 border rounded p-3"&gt;</span><br>
                            <span class="pl-8">{{ msg }}</span><br>
                        <span class="pl-4">&lt;/div&gt;</span><br>
                    <span class="text-red-500">{% endfor %}</span>
                {% endverbatim %}
            </code>
        </div>

        <p>
            Cyklem procházíme všechny zprávy, které máme v session. Do ní se dostáváme skrze <code>app.flashes()</code>, kde parametr je naše pojmenování sessiony. Zprávu pak vykreslíme normálně uvedením proměnné ve složených závorkách <code>{% verbatim %}{{ msg }}{% endverbatim %}</code>.
        </p>

        <h3 class="text-lg text-gray-50 mt-12">Výsledek:</h3>
        <p>
            Uživatel může zadávat svůj obsah. Dáváme mu i zpětnou vazbu, že jsme jeho požadavek přijali.
        </p>

        <div class="mt-24 mb-24">
            <div class="text-center font-bold">
                <a href="{{ path('new') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako TWIG</a>
            </div>
        </div>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('seven') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('nine') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}