{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>PHPUnit</li>
            <li>trpělivost</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Aplikace bobtná a každý řádek je potenciálně nový bug. Proto je důležité si průběžně kontrolovat, jestli náš kód skutečně dělá, co chceme. A některé věci si v prohlížeči jen tak neodhalíme. Proto zkusíme využít propojení Symfony s PHPUnit, což je nejznámější PHP testovací framework. Pojďme ho nainstalovat:
        </p>

        <div class="code">
            <code>
                symfony composer req --dev phpunit
                <button onclick="navigator.clipboard.writeText('symfony composer req --dev phpunit')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            Rovnou můžete spustit PHPUnit, přestože nemáme napsaný jediný test. Zjistíme, jestli reaguje. Takže stačí spustit:
        </p>

        <div class="code">
            <code>
                bin/phpunit
                <button onclick="navigator.clipboard.writeText('bin/phpunit')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            Ještě než přejdeme k testování, potřebujeme se naladit v terminologii. Existují dva druhy testů - unit a funkcionální. Jaký je mezi nimi rozdíl? Unit testy zkouší funkčnost jedné třídy nebo jedné metody. Funkcionální test zkouší funkčnost celého procesu. Na příkladech se rozdíly více vyjasní, tak rovnou přejdeme k prvnímu unit testu. Soubor si necháme vygenerovat pomocí Symfony CLI a pojmenujeme ho <code>DateFormatTest.php</code>:
        </p>

        <div class="code">
            <code>
                symfony console make:test
                <button onclick="navigator.clipboard.writeText('symfony console make:test')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            CLI aplikace se nás zeptá, jaký typ testu chceme vytvořit. Pro začátek nám stačí jednoduchý <code>TestCase</code>, odpovíme tedy v tomto smyslu. Pak test pojmenujeme a odentrujeme. Ve složce <code>tests</code> nám vznikl soubor <code>DateFormatTest.php</code>. Otevřeme ho a prohlédneme. Co ale testovat? Název napovídá... Zkusíme, zda v Entitě <code>Question</code> nejde u položky <code>date</code> nastavit něco jiného <code>Datetime</code>. Upravíme proto tělo <code>tests/AddQuestionTest.php</code> do této formy:
        </p>

        <div class="code">
            <code>
                use App\Entity\Question;<br>
                <span class="text-gray-400">...</span><br>
                public function testDatetimeVersusString(): void<br>
                {<br>
                <span class="pl-4">$this->expectException('TypeError');</span><br>
                <br>
                <span class="pl-4">$question = new Question();</span><br>
                <span class="pl-4 text-purple-300">$question->setDate('abcdefg');</span><br>
                }<br>
                <br>
                public function testDatetimeVersusInteger(): void<br>
                {<br>
                <span class="pl-4">$this->expectException('TypeError');</span><br>
                <br>
                <span class="pl-4">$question = new Question();</span><br>
                <span class="pl-4 text-purple-300">$question->setDate(123456);</span><br>
                }<br>
                <span class="text-gray-400">...</span>
            </code>
        </div>

        <p>
            Když spustíme <code>bin/phpunit</code>, měl by nám test zezelenat a ukázat, že jsme provedli 2 aserce. V tomto kódu jsme totiž ve dvou funkcích předpokládali, že nám špatně nastavené datum v metodě <code>setVotes()</code> vyhodí <code>TypeError</code>. A skutečně se tak stalo. Ale jak můžeme vědět, že to nehodí zelenou na vše, co tomu podáme? Zkusíme dopsat třetí funkci:
        </p>

        <div class="code">
            <code>
                public function testDatetimeVersusDatetime(): void<br>
                {<br>
                    <span class="pl-4">$this->expectException('TypeError');</span><br>
                    <br>
                    <span class="pl-4">$question = new Question();</span><br>
                    <span class="pl-4 text-purple-300">$question->setDate(new \DateTime());</span><br>
                }
            </code>
        </div>

        <p>
            PHPUnit by nám po doplnění funkce a spuštění měl hodit červenou. 3 testy se vykonaly, 3 aserce proběhly ale 1 chyba se naskytla: <code>Failed asserting that exception of type "TypeError" is thrown.</code> To je dobře! Ujistilo nás to v tom, že testy fungují správně a <code>Datetime</code> je správný typ pro <code>setVotes()</code>.
        </p>

        <p class="mt-6">
            Možná se testy zatím nezdají nikterak atraktivní, ale možná se to změní přístí kapitolou, kde probereme funkcionální testy. Ty jsou esenciální třeba pro zkoušení REST API, abychom nemuseli vše ťukat do Postmana.
        </p>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('ten') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('twelve') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}