{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>furt vám jede Docker, jo?</li>
            <li>Data Fixtures</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            V téhle kapitole vytvoříme pár otázek a v další se je necháme vyjet do Twigu a JSONu. Normálně bychom nové záznamy DB zadali přes nějakou továrnu a použili třeba Faker. Symfony na to má samozřejmě bundle, ale zatím to uděláme následovně: jeden záznam vytvoříme přes GET request <code>/new-random</code> a sadu záznamů přes tzv. Doctrine Data Fixtures. Hned si to ukážeme, ale nejdřív je nutné instalovat:
        </p>

        <div class="code">
            <code>symfony composer req orm-fixtures</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req orm-fixtures')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            To nám vytvořilo složku <code>src/DataFixtures</code>, ale to teď necháme být. Jen jsme se připravili na to, co nás teprve čeká. Teď jdeme do <code>src/Controller/MainController.php</code> a vytvoříme funkci <code>newRandom()</code> následovně a pak krátce vysvětlíme:
        </p>

        <div class="code">
            <code>
                use Symfony\Component\HttpFoundation\RedirectResponse;<br>
                <span class="text-gray-400">...</span><br>
                <span class="text-red-500">#[Route('/new-random', name: 'new-random')]</span><br>
                public function newRandom(EntityManagerInterface $entityManager): RedirectResponse<br>
                {<br>
                <span class="pl-4">$question = new Question();</span><br>
                <span class="pl-4">$question->setName('Důležitá pracovní otázka '.rand(1,1000));</span><br>
                <span class="pl-4">$question->setText('Jak si mám nejlépe vybrat z benefitů č. '.rand(1,20));</span><br>
                <span class="pl-4">$question->setVotes(rand(-20, 50));</span><br>
                <span class="pl-4">$question->setDate(new \DateTime());</span><br>
                <br>
                <span class="pl-4">$entityManager->persist($question);</span><br>
                <span class="pl-4">$entityManager->flush();</span><br>
                <br>
                <span class="pl-4 text-green-500">return</span> $this->redirectToRoute('main');<br>
                }
            </code>
        </div>

        <p>
            Nejdříve to jednodušší v kódu: Návratová hodnota je odnož <code>Response</code>, která nám pomůže po vytvoření otázky redirectovat uživatele kam chceme. My ho pošleme na hello world stránku. Vytvořili jsme si pak nový objekt <code>$question</code> a pomocí setterů, které jsme viděli v <code>src/Entity/Question.php</code> jsme do objektu nasolili random data. Proč má ale funkce takový zvláštní parametr? A proč <code>persist</code> a <code>flush</code>?
        </p>

        <p class="mt-6">
            Taková zvláštnost Symfony je, že tzv. autowirujete různé interfacy, které framework nabízí. Tady jsme si do funkce <code>new</code> přeneseně řečeno injektovali interface pro komunikaci s "modelem", resp. s Entitou. <code>EntityManagerInterface $entityManager</code> pak použijeme k poslání namapovaného objektu <code>$question</code> do databáze. Nezalekněte se, v porovnání s Laravelem (tam se prostě udělá <code>Question::create(...data...)</code>) je vytvoření nového záznamu trochu více psaní, ale čím víc si kód pročtete, tím víc bude dávat smysl a máte větší kontrolu nad tím, co se děje, než se data zadají finálně do databáze.
        </p>

        <p class="mt-6">
            <code>$entityManager</code> nám při <code>persist</code> připraví objekt pro poslání do DB. Mezitím bychom mohli napsat nějaký další kód, který potřebujeme a třeba vytvořit další objekt. V našem případě je to ale zbytečné. Řekli jsme si, že tady chceme vytvořit vždy jen jednu otázku, proto s tím nijak nečarujeme a voláme rovnou <code>flush</code>, který už definitvně vytvoří nový záznam v tabulce. Rovnou to zkusíme přes prohlížeč nebo Postman a zadáme <code>/new-random</code> za adresu localhostu. mělo by se stát to, že jste přesunuti na kořenovou adresu <code>/</code>. Jdeme zkontrolovat záznamy:
        </p>

        <div class="code">
            <code>symfony console dbal:run-sql "SELECT * FROM question"</code>
            <button onclick="navigator.clipboard.writeText('symfony console dbal:run-sql \"SELECT * FROM question\"')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Něco to vyplivlo, že? Ještě než přikážeme Controllerům, aby nám to přetavili do Twig a JSONu, zkusíme <code>DataFixtures</code>, které jsme na začátku instalovali. Je to elegantnější způsob, jak zaplnit databázi, abychom nemuseli zadávat do prohlížeče <code>/new-random</code>. Nejlepší na tom je, že je to hrozně jednoduché! Řekl bych, že je to stejně jednoduché jako v Laravelu... Ale není. Přesto je to pořád neuvěřitelně jednoduché. <code>DataFixture</code> je normální třída, ve které v podstatě provedeme stejný kód, jaký jsme napsali v Controlleru a pak jen ze Symfony CLI zavoláme jejich load do DB. Tak na to rovnou jděme. Otevřete si <code>src/DataFixtures/AppFixtures.php</code>. Naimportujeme svoji Entitu a upravíme předdefinovanou funkci, takže kód by měl vypadat nějak takto:
        </p>

        <div class="code">
            <code>
                use App\Entity\Question;<br>
                <span class="text-gray-400">...</span><br>
                public function load(ObjectManager <span class="text-green-500">$manager</span>)<br>
                {<br>
                    <span class="pl-4">for ($i = 0; $i < 10; $i++) {</span><br>
                        <span class="pl-8">$question = new Question();</span><br>
                        <span class="pl-8">$question->setName('Důležitá pracovní otázka '.rand(1,1000));</span><br>
                        <span class="pl-8">$question->setText('Jak si mám nejlépe vybrat z benefitů č. '.rand(1,20));</span><br>
                        <span class="pl-8">$question->setVotes(rand(-20, 50));</span><br>
                        <span class="pl-8">$question->setDate(new \DateTime());</span><br>
                        <br>
                        <span class="pl-8"><span class="text-green-500">$manager</span>->persist($question);</span><br>
                    <span class="pl-4">}</span><br>
                    <br>
                    <span class="pl-4 text-green-500">$manager</span>->flush();<br>
                }
            </code>
        </div>

        <p>
            Díky cyklu rovnou dostaneme deset nových záznamů, jinak je kód skutečně stejný jako v Controlleru. Jdeme data narvat do DB. Jen varovné info: <code>Fixtures</code> vymažou stávající data v DB. Tady ale nemáme nic, co nechceme ztratit. Takže můžeme nanovo:
        </p>

        <div class="code">
            <code>symfony console doctrine:fixtures:load</code>
            <button onclick="navigator.clipboard.writeText('symfony console doctrine:fixtures:load')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Odentrujte souhlas s vymazáním dat. Mělo by to proběhnout bez chyby a 10 nových záznamů by se mělo objevit v DB. Zkontrolovat si to už umíme skrze Symfony CLI -> <code>symfony console dbal:run-sql "SELECT * FROM question"</code>.
        </p>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('four') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('six') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}