{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>Docker (zase)</li>
            <li>základní pochopení modelu</li>
            <li>přečíst si, co je <a href="https://cs.wikipedia.org/wiki/Objektov%C4%9B_rela%C4%8Dn%C3%AD_mapov%C3%A1n%C3%AD" class="hover:underline">ORM</a> a
                <a href="https://en.wikipedia.org/wiki/Database_abstraction_layer" class="hover:underline">DBAL</a></li>
            <li>aspoň něco z SQL, byť to používat vlastně nebudeme</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Databáze nám jede, Doctrine bundle máme nainstalovaný. Můžeme se tedy vrhnout na písmeno M ze zkratky MVC, tedy modely. Musím se přiznat, že tady není Symfony úplně nejintuitivnější. Zvlášť když přicházíte třeba z Laravelu, kde prostě máte složku <code>Models</code> a jedete si Eloquent nebo v Nette prostě používáte "Managery". Zdá se mi, že nejjednodušším vysvětlením rozílů mezi těmito frameworky a Symfony je, že se Laravel/Nette snaží v defaultu co nejvíce sloučit ORM a DBAL do jednoho mocného souboru - modelu, kdežto Symfony se snaží tyto principy rozdělit. Je možné, že to, co jsem napsal není úplně přesné, ale mně to pomohlo pochopit workflow a také proč po instalaci Doctrine vznikly automaticky dvě složky: <code>Entity</code> a <code>Repository</code>. Jednoduše řečeno: <code>Entity</code> je místo, kde se definuje databázový objekt (ORM) a <code>Repository</code> je určeno pro query building v Doctrine jazyce (DBAL).
        </p>

        <p class="mt-6">
            Nejlepší bude, když rovnou přikročíme k vytvoření <code>Entity</code> a ukážeme si, jak to celé funguje. Říkal jsem si, že bychom mohli udělat jednoduchý klon Stack Overflow na život v Inventi. To znamená, že budeme shromažďovat dotazy, budeme je moct upvotovat/downvotovat, odpovídat na ně atd. Postupně budeme nnáš model rozšiřovat, ale na začátku je jasné, že se bude vše točit kolem otázek. Takže si uděláme model <code>Question</code>. To uděláme následovně:
        </p>

        <div class="code">
            <code>symfony console make:entity</code>
            <button onclick="navigator.clipboard.writeText('symfony console make:entity')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Vyvalí se na nás série otázek, které zodpovíme následovně:
        </p>

        <ol class="list-decimal pl-8 text-gray-50">
            <li>Class name of the entity to create or update (e.g. DeliciousKangaroo): <code>Question</code></li>
            <li>New property name (press return to stop adding fields): <code>name</code> <span class="text-gray-300">//to bude nadpis otázky</span></li>
            <li>Field type (enter ? to see all types) [string]: <code>odentrujeme</code></li>
            <li>Field length [255]: <code>odentrujeme</code></li>
            <li>Can this field be null in the database (nullable) (yes/no) [no]: <code>odentrujeme</code></li>
        </ol>

        <p class="mt-6">
            Symfony CLI se vás zeptá, jestli chcete přidat další pole. Zkuste sami přidat následující s příslušnými atributy: <code>text</code> jako typ text, not null; <code>date</code> jako typ datetime, not null a <code>votes</code>, integer, not null. Ukončíme vytváření odentrováním a otevřeme <code>src/Entity/Question.php</code>. Vidíte tam spoustu docblocků a proměnných nějak takhle:
        </p>

        <div class="code">
            <code>
                <span class="text-gray-300">/**<br>
                * @ORM\Column(type="string", length=255)<br>
                */</span><br>
                private $name;
            </code>
        </div>

        <p>
            Vidíte, že každá property je označkovaná docblockem parametrů, které jsme zadávali v CLI aplikaci. Takhle Doctrine ví, jak se chovat v databázi. Vytvoření Entity ale neznamená, že máme něco v databázi! Jestli máte zkušenosti s Laravelem, víte, že se teprve musí migrovat (což je sada SQL příkazů). Jiné frameworky s tím asi nepracují/pracují jinak. Takže necháme Symfony CLI vytvořit migrační soubor, který pak trochu upravíme. Nejdříve ale:
        </p>

        <div class="code">
            <code>symfony console make:migration</code>
            <button onclick="navigator.clipboard.writeText('symfony console make:migration')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Otevřete nový php soubor ve složce <code>migrations</code>. Říká se, že často se v něm vůbec není nutno pitvat, ale my to zkusíme pro trénink. Chci například aby se hodnota <code>votes</code> defaultovala na 0. To za nás CLI aplikace neudělala, takže upravte příslušný řádek takto:
        </p>

        <div class="code">
            <code>
                $this->addSql('CREATE TABLE question (id INT NOT NULL, name VARCHAR(255) NOT NULL, text TEXT NOT NULL, date TIMESTAMP(0) WITHOUT TIME ZONE NOT NULL, votes INT NOT NULL <span class="text-purple-300">DEFAULT 0</span>, PRIMARY KEY(id))');
            </code>
        </div>

        <p>
            Konečně můžeme migrovat. První tabulka vznikne po příkazu Doctrine, aby to zmigroval:
        </p>

        <div class="code">
            <code>symfony console doctrine:migrations:migrate</code>
            <button onclick="navigator.clipboard.writeText('symfony console doctrine:migrations:migrate')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            A je to! Je to bohužel zdlouhavější než práce s migracemi v Laravelu, ale všechno má svá pro a proti. Poslední věc před zaplněním databáze bude kontrola, že skutečně máme tabulku <code>question</code>. Zase pomocí Symfony CLI, možná trochu dřevácky, ale funkčně:
        </p>

        <div class="code">
            <code>symfony console doctrine:query:sql "SELECT * FROM question"</code>
            <button onclick="navigator.clipboard.writeText('symfony console doctrine:query:sql \"SELECT * FROM question\"')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Což nám vyhodí prázdné pole! Žádný error, takže tabulka opravdu existuje a teď i víme, že se dá z konzole přistupovat k DB pomocí SQL dotazů. Symfony 5.2.3 mi navíc radí používat novou syntaxi <code>symfony console dbal:run-sql</code>, takže od teď se budeme řídit tímto doporučením.
        </p>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('three') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('five') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>

{% endblock %}