{% extends 'base.html.twig' %}

{% block body %}
        <div class="mt-12">
            <h1 class="text-4xl text-gray-50">Symfony kuchařka <sup class="text-purple-300 text-lg">inventi</sup></h1>

            <ol class="list-decimal text-gray-50 pl-8 mt-24">
                <li><a href="{{ path('one') }}" class="hover:underline">Jak začít?</a></li>
                <li><a href="{{ path('two') }}" class="hover:underline">Hello World!</a></li>
                <li><a href="{{ path('three') }}" class="hover:underline">Dockerbáze (Docker + databáze)</a></li>
                <li><a href="{{ path('four') }}" class="hover:underline">Zkusíme modelling?</a></li>
                <li><a href="{{ path('five') }}" class="hover:underline">Plníme databázi</a></li>
                <li><a href="{{ path('six') }}" class="hover:underline">A vybíráme z ní</a></li>
                <li><a href="{{ path('seven') }}" class="hover:underline">Jdeme volit</a></li>
                <li><a href="{{ path('eight') }}" class="hover:underline">Uživateli, napiš nám!</a></li>
                <li><a href="{{ path('nine') }}" class="hover:underline">Upozornění mailem</a></li>
                <li><a href="{{ path('ten') }}" class="hover:underline">Async s RabbitMQ</a></li>
                <li><a href="{{ path('eleven') }}" class="hover:underline">Testing</a></li>
                <li><a href="{{ path('twelve') }}" class="hover:underline">Funkcionální testy API</a></li>
            </ol>
        </div>
{% endblock %}
