{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>emailing</li>
            <li>Mailtrap.io</li>
            <li>"globální" proměnná (bindování globálních argumentů)</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Jako admini aplikace bychom rádi získali průběžnou informaci o tom, že někdo přidá nový dotaz. Zkusíme si proto zavést automatické odesílání mailů na adresu (zatím ne asynchronně), kterou si zadefinujeme jako globální proměnnou. Emaily nebudou spamovat skutečnou schránku, ale "virtuální" na
            <a href="https://mailtrap.io" target="_blank" rel="noopener noreferer" class="hover:underline"> Mailtrap.io</a>. Demo inbox je zadarmo, takže se zaregistrujte.
        </p>

        <p class="mt-6">
            Začneme instalací maileru:
        </p>

        <div class="code">
            <code>symfony composer req mailer</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req mailer')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Balík se nainstaloval. Ještě před jeho využitím bychom si ale mohli zkusit zadefinovat "globální" proměnnou v Symfony. Ta se hodí třeba na konstanty, ke kterým potřebujete přistupovat z různých částí aplikace a můžete je upravovat příjemně na jednom místě. Také tím trochu odkryjeme konečně složku <code>/config</code>, které jsme se zatím vůbec nedotkli (nebylo třeba). Rovnou si to zkusíme. Otevřte <code>config/services.yaml</code> a prohlédněte si ho. Zatím vám moc nebude dávat smysl, ale to nevadí. Pro naši funkci je nejdůležitější sekce <code>_defaults</code>. Zkuste soubor upravit nějak takto (a bacha na odsazování, yaml je citlivý! Takže vždy 4 mezery na odsazení):
        </p>

        <div class="code">
            <code>
                <span class="text-red-500">_defaults:</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;autowire: true      <span class="text-gray-400"># Automatically injects dependencies in your services.</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;autoconfigure: true <span class="text-gray-400"># Automatically registers your services as commands, event subscribers, etc.</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;bind:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-purple-300">$adminMail: 'admin@inventi-overflow.cz'</span>
            </code>
        </div>

        <p>
            To nám teď umožňuje zavádět proměnnou <code>$adminMail</code> do funkcí. Funguje to podobně jako třeba s <code>EntityManagerInterface</code>, tzn. zavádíme jako argument funkce. To je hezké, ale nestačí to k mailingu, že? Ještě před samotným kódem, který bude posílat upozornění, je nutné nastavit přístup k SMTP, které nám teď zprovozňuje Mailtrap.io. Když se na Mailtrapu přihlásíte a podíváte se do nastavení SMTP, rovnou získáte řetězec pro Symfony, který se ukládá do souboru <code>.env</code> v této formě:
        </p>

        <div class="code">
            <code>
                MAILER_DSN=smtp://<span class="text-purple-300">username:heslo</span>@smtp.mailtrap.io:2525?encryption=tls&auth_mode=login
            </code>
        </div>

        <p>
            Není na co čekat, svůj řetězec vložte do <code>.env</code> na konec souboru. Teď by mělo být vše připraveno. Zkusíme jít do <code>MainControlleru</code> a nasadit posílání notifikací (poté to trochu refactorujeme, nebojte). Ve funkci <code>new()</code> by mělo přibýt zhruba toto (části stejného kódu jsou z většiny vynechané, zaměřte se na místo po zaznamenání do DB):
        </p>

        <div class="code">
            <code>
                use Symfony\Component\Mailer\MailerInterface;<br>
                use Symfony\Component\Mime\Email;<br>
                <span class="text-gray-400">...</span><br>
                <span class="text-red-500">#[Route('/new', name: 'new', methods: ['GET', 'POST'])]</span><br>
                public function new(Request $request, EntityManagerInterface $entityManager, <span class="text-purple-300">MailerInterface $mailer, string $adminMail</span>): Response|RedirectResponse
                <br>
                <span class="text-gray-400 pl-4">...</span><br>
                <span class="pl-8">$entityManager->flush();</span><br>
                <br>
                <span class="text-purple-300 pl-8">$email = (new Email())</span><br>
                    <span class="text-purple-300 pl-12">->from('aplikace@inventi-overflow.cz')</span><br>
                    <span class="text-purple-300 pl-12">->to($adminMail)</span><br>
                    <span class="text-purple-300 pl-12">->subject('Nový dotaz z Inventi Overflow')</span><br>
                    <span class="text-purple-300 pl-12">->text('Přibyl nový dotaz č. '.$question->getId());</span><br>
                <br>
                <span class="text-purple-300 pl-8">$mailer->send($email);</span><br>
                <br>
                <span class="pl-8">$this->addFlash('success', 'Dotaz byl úspěšně přijat');</span><br>
                <span class="text-gray-400 pl-4">...</span><br>
            </code>
        </div>
    </div>

    <p>
        K využití globálního argumentu stačí vepsat název promenné tak, jak jsme si ji nastavili v <code>services.yaml</code>. Je to neuvěřitelně jednoduché. Mailovací službu máme také inicializovanou. Když definujeme proměnnou <code>$email</code>, která je novou instancí třídy <code>Symfony\Component\Mime\Email</code>, nastavíme si parametry stejně jako kdybychom psali běžný mail. Poté se jen pošle přes metodu <code>send()</code> Maileru. Celkem intuitivní.
    </p>

    <p class="mt-6">
        Existuje ještě jednodušší způsob, jak nastavit příjemce emailů skrze konfigurák <code>config/packages/mailer.yaml</code>, ale chtěli jsme si vyzkoušet definici globálních argumentů a jejich využití ve funkci. Také si lze pohrát s Mailerem daleko více - třeba místo plain textu můžete využít přímo HTML nebo Twig šablonu. To ale pro naše základní pochopení není třeba a Symfony dokumentace to skvěle pokrývá. My se teď zaměříme na asynchronicitu, abychom neměli tak velkou časovou proluku mezi dokončením funkce <code>new()</code> a přesměrováním na seznam dotazů.
    </p>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('eight') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('ten') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}