{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">

        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>počítač</li>
            <li>internet</li>
            <li>příkazová řádka</li>
            <li>PHP > 7.2.5</li>
            <li>Composer</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Symfony je oproti robustním frameworkům jako Laravel či Nette poměrně štíhlé. Ale může z něj také samozřejmě vzniknout i pěkný buřtguláš. Dobrá zpráva je, že je to čistě na nás, co se Symfony uděláme. Středobodem našeho tvarování Symfony je užitečný nástroj Symfony CLI. Pomocí něj budeme přidávat knihovny, vytvářet všemožné části naší aplikace, debugovat, koukat do střev, do databáze apod. Pokud přicházíte z Nette, bude to pro vás asi novinka; pokud znáte Laravel, tak vám bude připomínat Artisan. Ale zdá se mi, že Symfony CLI je daleko promakanější.<br>

            <strong>Jak ho nainstalovat?</strong>
        </p>

        <div class="code">
            <p>
                <code>
                    <span class="text-red-500">Linux:</span> wget https://get.symfony.com/cli/installer -O - | bash
                    <button onclick="navigator.clipboard.writeText('wget https://get.symfony.com/cli/installer -O - | bash')" class="text-gray-600 pl-6 float-right hover:underline">Kopírovat</button>
                </code>
            </p>

            <p class="mt-4">
                <code>
                    <span class="text-red-500">Mac:</span> curl -sS https://get.symfony.com/cli/installer | bash
                    <button onclick="navigator.clipboard.writeText('curl -sS https://get.symfony.com/cli/installer | bash')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
                </code>
            </p>

            <p class="mt-4">
                <code>
                    <span class="text-red-500">Windows: </span> <a href="https://get.symfony.com/cli/setup.exe" class="hover:underline">stáhnout</a>
                </code>
            </p>
        </div>

        <p>
            A hned si můžeme ukázat, jak multifunkční CLI aplikace je. Nemusíte totiž složitě projíždět dokumentaci k tomu, abyste zjistili, jestli máte nainstalovány všechny základní rozšíření PHP na svém počítači:
        </p>

        <div class="code">
            <code>symfony check:requirements</code>
            <button onclick="navigator.clipboard.writeText('symfony check:requirements')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Jestli máte vše OK, <strong>vytvoříme si svou novou appku</strong>. Začneme od píky, bez jakýchkoli nadstaveb, ať vidíme, jak je Symfony čisté oproti jiným frameworkům. Samozřejmě instalujeme opět pomocí pár písmenek v terminálu:
        </p>

        <div class="code">
            <code>symfony new inventi_overflow</code>
            <button onclick="navigator.clipboard.writeText('symfony new inventi_overflow')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Pokud jste zvědaví, co se v základní verzi Symfony CLI vše skrývá, zkuste spustit jen příkaz <code>symfony</code>, vyjede vám různé parametry, se kterými pak budete intenzivně pracovat. Ty nejdůležitější postupně kuchařka odkryje. Teď už vkročíme do nového projektu (<code>cd inventi_overflow</code>) a spustíme server. Nečeká nás žádné <code>php -S localhost:8000</code>... Symfony CLI je poruce a naštěstí má i daemon mód, takže si nezaplevelíme treminál:
        </p>

        <div class="code">
            <code>symfony serve -d</code>
            <button onclick="navigator.clipboard.writeText('symfony serve -d')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Ještě ale dodám jednu věc, která mě fascinuje. Je to jednoduchost, se kterou se Symfony vypořádává s různými verzemi PHP v systému a u jiného frameworku jsem se s tím nesetkal. Pravděpodobně to zas tolik využívat nemusíte, protože se většina (ne)kompatibility už řeší skrze Docker, ale je to dobré vědět, když chcete programovat lokálně. Zkuste si do terminálu zadat:
        </p>

        <div class="code">
            <code>symfony local:php:list</code>
            <button onclick="navigator.clipboard.writeText('symfony local:php:list')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Vyjede vám tabulka s dostupnými verzemi PHP. Momentálně využívám verzi 8, ale u starších projektů se v době psaní může využívat třeba verze 7.4. Jak tedy říct Symfony CLI aby využívala starší verzi? CLI aplikace čte verzi ze souboru <code>.php-version</code>. Tu momentálně v Symfony nemáte, takže je nutné ji vytvořit. Nejjednodušeji prostě takto: <code>echo 7.4 > .php-version</code>. Stačí stopnout server <code>symfony server:stop</code>, zase ho nahodit a už jedete v jiné verzi PHP.
        </p>

        <div class="mt-12 mb-12 grid grid-cols-2">
            <div>
                <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
            </div>

            <div class="md:text-right">
                <a href="{{ path('two') }}" class="text-red-500 hover:underline">Dále ></a>
            </div>
        </div>
    </div>
{% endblock %}