{% extends 'base.html.twig' %}

{% block body %}
<div class="mt-12">
    {% include 'chapter/components/header.html.twig' %}

    <ul class="text-gray-50 list-disc pl-6">
        <li>update záznamů</li>
        <li>RedirectResponse (znovu)</li>
        <li>Request a formulář</li>
        <li>magie s objekty</li>
    </ul>
</div>

<div class="mt-12">
    <h3 class="text-lg text-gray-50">Postup:</h3>
    <p>
        Vložit nové záznamy už umíme přes <code>DataFixtures</code> a v Controlleru. Teď si zkusíme zpracovat input od klienta. Nejdřív zkusíme update - u existujících otázek budeme moct upvotovat a downvotovat. V další kapitole necháme uživatele už pokládat dotazy.
    </p>

    <p class="mt-6">
        Protože jsme si dosud jen tak pohrávali, nemáme "normální" zobrazení dotazů. Necháme si vyjet posledních 10 záznamů podle data. K tomu potřebujeme v <code>QuestionRepository</code> novou funkci. To už bychom každý měli zvládnout sám. Já si ji pojmenoval <code>findAllAndOrderByDESC()</code> (jen poradím, že limitovat seznam záznamů jde skrze <code>setMaxResults()</code>). Dále k tomu potřebujeme v <code>MainController</code> funkci, která nám vykreslí data. To už jsme také probrali, tak si necháme data vyjet například na kořenové cestě <code>/</code> a funkci pojmenujeme <code>index()</code>. Nezapomeňte v parametrech na <code>QuestionRepository</code>. Stylování každý podle sebe (já používám Tailwind). Při hraní si s layoutem si v cyklu <code>for</code> při vypisování otázek přidáme ovšem jednu klíčovou věc:
    </p>

    <div class="code">
        <code>
            {% verbatim %}
                <span class="text-red-500">&lt;form action="<span class="text-purple-300">{{ path('vote', { id: question.id }) }}</span>" method="POST"&gt;</span><br>
                    <span class="pl-4">&lt;div class="text-gray-50"&gt;</span><br>
                        <span class="pl-8">&lt;span class="text-gray-50 pl-4 pb-4">Hlasy: {{ question.votes }}&lt;/span&gt;</span><br>
                        <span class="pl-8">&lt;button type="submit" class="pl-4 pb-4" name="direction" value="up">▲&lt;/button&gt;</span><br>
                        <span class="pl-8">&lt;button type="submit" class="pl-1 pb-4" name="direction" value="down">▼&lt;/button&gt;</span><br>
                    <span class="pl-4">&lt;/div&gt;</span><br>
                <span class="text-red-500">&lt;/form&gt;</span>
            {% endverbatim %}
        </code>
    </div>

    <p>
        Destinace formuláře jsem stanovil <code>vote</code>, který ještě nemáme v Controlleru. Jako parametr s tím zároveň posílám ID otázky, u které chceme hlasovat. Můžete to znát podobně z Laravelu, kde se ale nepoužívá syntaxe ála javascriptový objekt, ale asociativní pole. S tímhle parametrem pak také budeme čarovat v Controlleru. Nechávám si pak už jen vypsat počet hlasů a dvě tlačítka -> jedno pro přidání hlasu, druhé pro odebrání hlasu. Každé tlačítko má svou hodnotu, kterou budeme v Controlleru kontrolovat (krásné slovní spojení) a podle toho aktualizujeme údaj v DB. Tak si otevřeme <code>src/MainController.php</code> a novou funkci napíšeme zhruba takto:
    </p>

    <div class="code">
        <code>
            <span class="text-red-500">#[Route('/vote/{id}', name: 'vote', methods: ['POST'])]</span><br>
            public function vote(Question $question, <span class="text-purple-300">Request $request</span>, EntityManagerInterface $entityManager): RedirectResponse<br>
            {<br>
                <span class="pl-4">$direction = <span class="text-purple-300">$request->request->get('direction')</span>;</span><br>
                <br>
                <span class="pl-4">if ($direction === 'up') {</span><br>
                    <span class="pl-8 text-purple-300">$question->upVote();</span><br>
                <span class="pl-4">} elseif ($direction === 'down') {</span><br>
                    <span class="pl-8 text-purple-300">$question->downVote();</span><br>
                <span class="pl-4">}</span><br>
                <br>
                <span class="pl-4">$entityManager->flush();</span><br>
                <br>
                <span class="pl-4 text-green-500">return</span> $this->redirectToRoute('index');<br>
            }
        </code>
    </div>

    <p>
        Na těch několik řádcích je spoustu nových věcí a některé na první pohled nedávají smysl. Začnu s anotací - <code>{id}</code> je parametr, který jsme si předali z View v části <code>action</code> formuláře. Metodu jsme zadefinovali jako POST, aby byla totožná s tím, co posílá formulář. Pak přichází na řadu malá magie. Říkáte si, že přece se předává jako parametr jen <code>id</code>, nikoli celý objekt. Tak jaktože nemáme v parametrech něco ve smyslu <code>int $id</code>, se kterým by se pak dál pracovalo k nalezení odpovídajícího záznamu v DB? Samozřejmě to jde udělat taky, ale Symfony nabízí elegantní řešení, které tyhle řádku eliminuje a zpracuje je na pozadí. Funkci tedy jde dát parametr celého objektu - v tomto případě <code>Question $question</code> a Symfony si už <code>id</code> spáruje. Pro mě nebyla tolik překvapivá, protože Laravel funguje zcela totožně a je to jedna z nejlepších vychytávek, která kód zpřehledňuje.
    </p>

    <p class="mt-6">
        Pak tu máme takovou nehezkost: <code>$request->request->get('direction')</code>. Zkuste si dumpnout <code>$request</code> a uvidíte, co všechno v sobě za infromace skrývá. Pro pochopení, je to celkem důležité. Pravidlo je, že jednotlivé atributy requestu se získávají přes metodu <code>get()</code>. Tady si vezmeme hodnotu <code>direction</code>, což je název, který jsme zadefinovali ve formuláři, a který nabývá hodnot <code>up</code> nebo <code>down</code>.
    </p>

    <p class="mt-6">
        Následuje větvení podmínky a v nich dvě funkce, které ještě nemáme implementované: <code>$question->upVote()</code> a <code>$question->downVote()</code>. To zavedeme v Entitě <code>Question</code>. Za chvíli na to půjdeme. Poslední řádky využívájí <code>flush()</code> Entity Manageru. Tentokrát bez <code>persist()</code>, protože není třeba (Doctrine o našem objektu už ví). Ale pokud je to pro vás zatím matoucí, klidně ho tam vpište, nemělo by to na výsledném efektu nic změnit.
    </p>

    <p class="mt-6">
        Funkce vrací <code>RedirectResponse</code> a posílá uživatele zpět na index. To už známe... Vrátíme se proto k funkcím, které jsme ještě nazavedli v entitě <code>src/Entity/Question.php</code>. Takže na konec souboru dodáme:
    </p>

    <div class="code">
        <code>
            public function upVote(): self<br>
            {<br>
                <span class="pl-4">$this->votes++;</span><br>
                <br>
                <span class="pl-4 text-green-500">return</span> $this;<br>
            }
        </code>
    </div>

    <p>
        Jednoduché, že? Vracíme celý objekt, aby se mohl updatovat. Teoreticky jsme mohli podobný kód napsat už v Controlleru, ale je dobrou praxí (separation of concerns), že se atributy mění tam, kde se měnit mají. A Controller k tomu určený není. Zkuste sami napsat kód pro <code>downVote()</code>. Teď už byste měli být schopni měnit počty hlasů pomocí tlačítek. Jelikož jsou všechny naše dotazy ve stejný čas, může se stát, že se v řazení budou dotazy různě prohazovat (vyzkoušejte si), ale hlasy se skutečně odečítají a přičítají!
    </p>

    <p class="mt-6">
        Ještě si to samé napíšeme pro API, byť kód je celkem stejný. Spíš tím chci ukázat cestu RESTu, konkrétně <code>PUT</code> :) Zavolat to můžete zkusit přes Postman. Kód není nějak inteligentně ošetřen, takže na produkci to není dělané (roboti by mohli donekonečna hlasovat jedním nebo druhým směrem), takže to berte s nadhledem:
    </p>

    <div class="code">
        <code>
            <span class="text-red-500">#[Route('/api/vote/{id}/{direction}', name: 'api.vote', methods: ['PUT'])]</span><br>
            public function vote(<span class="text-purple-300">string $direction</span>, Question $question, EntityManagerInterface $entityManager): JsonResponse<br>
            {<br>
            <span class="pl-4">if (<span class="text-purple-300">$direction</span> === 'up') {</span><br>
                <span class="pl-8">$question->upVote();</span><br>
                <span class="pl-8">$msg = 'Úspěšně jsi upvotoval';</span><br>
            <span class="pl-4">} elseif (<span class="text-purple-300">$direction</span> === 'down') {</span><br>
                <span class="pl-8">$question->downVote();</span><br>
                <span class="pl-8">$msg = 'Úspěšně jsi downvotoval';</span><br>
            <span class="pl-4">} else {</span><br>
                <span class="pl-8 text-green-500">return</span> new JsonResponse(['msg' => 'Chyba, jde upvotovat nebo downvotovat. Tohle nedává smysl'], <span class="text-purple-300">400</span>);</span><br>
            <span class="pl-4">}</span><br>
                <br>
                <span class="pl-4">$entityManager->flush();</span><br>
                <br>
                <span class="pl-4 text-green-500">return</span> new JsonResponse(['msg' => $msg], <span class="text-purple-300">200</span>);<br>
            }
        </code>
    </div>

    <p>
        Asi nic překvapivého. Ale něco navíc tam přece jen je - status kódy jako druhý parametr <code>JsonResponse</code>. Takhle naše API v hlavičkách pošle kód, který potřebujeme. Když není <code>$direction</code> up nebo down, tak nám Postman ukáže <code>Bad Request</code> (kód 400). Když zahlasujeme správně, vyhodí nám OK (200).
    </p>


    <h3 class="text-lg text-gray-50 mt-12">Výsledek:</h3>
    <p>
        Můžeme konečně hlasovat u našich zvídavých dotazů. Naučili jsme se základně pracovat s requesty a updatovat databázi.
    </p>

    <div class="mt-24 mb-24">
        <div class="text-center font-bold">
            <a href="{{ path('list') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako TWIG</a>
        </div>
    </div>
</div>

<div class="mt-12 mb-12 grid grid-cols-2">
    <div>
        <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
    </div>

    <div class="md:text-right">
        <a href="{{ path('six') }}" class="text-red-500 hover:underline">< Předchozí</a> |
        <a href="{{ path('eight') }}" class="text-red-500 hover:underline">Dále ></a>
    </div>
</div>

{% endblock %}