{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>databázové záznamy</li>
            <li>Query Building a Repository</li>
            <li>Twig a jeho filtry</li>
            <li>JsonResponse</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Data máme vygenerovaná. Tak můžeme jít na vykreslování. Jak jsem zmínil v předchozí kapitole, zobrazíme to v Twigu a JSONu. Zároveň si zkusíme data custom setřídit, abychom se seznámili s tím, co zvládá <code>Repository</code>. Rovnou tím začneme. Otevřete si tedy <code>src/Repository/QuestionRepository.php</code>, který nám vyjelo Symfony CLI pár kapitol zpátky. Pořádně si ho prohlédněte a pak zkusíme následující:
        </p>

        <div class="code">
            <code>
                public function findByVotes()<br>
                {<br>
                    <span class="pl-4 text-green-500">return</span> $this->createQueryBuilder('q')<br>
                    <span class="pl-8">->orderBy('q.votes', 'DESC')</span><br>
                    <span class="pl-8">->getQuery()</span><br>
                    <span class="pl-8">->getArrayResult();</span><br>
                }
            </code>
        </div>

        <p>
            Asi vidíte, že to není žádná složitá query. Necháme si vyjet dotazy a seřadíme je podle počtu <code>votes</code>. Zpočátku mě mátlo, proč se iniciuje nějaké <code>q</code> pomocí <code>createQueryBuilder</code>, ale je to jednoduché - Doctrine pracuje s objekty přece! To <code>q</code> (jako question) je tedy takový objekt, který naplníme podle našeho přání. V našem případě vybereme všechny záznamy a jen je seřadíme (<code>orderBy</code>), pak řekneme, ať si Doctrine připraví DB query a necháme si to vyjet do asociativního pole. Proč ne do objektu? Lépe se s tím pak pracuje v <code>ApiControlleru</code> kvůli <code>JsonResponse</code>, která přijímá právě a jen asociativní pole.
        </p>

        <p class="mt-6">
            Když už mluvíme o Controllerech, pojďme do našeho <code>MainControlleru</code> a vytvořme si funkci <code>showByVotes()</code>, do které zase něco "injektujeme" - konkrétně <code>QuestionRepository</code>:
        </p>

        <div class="code">
            <code>
                use App\Repository\QuestionRepository;<br>
                <span class="text-gray-400">...</span><br>
                <span class="text-red-500">#[Route('/show-by-votes', name: 'show-by-votes')]</span><br>
                public function showByVotes(QuestionRepository <span class="text-purple-300">$questionRepository</span>)<br>
                {<br>
                <span class="text-green-500 pl-4">dd</span>(<span class="text-purple-300">$questionRepository</span>->findByVotes());<br>
                }
            </code>
        </div>
    </div>

    <p>
        Přejděte v prohlížeči na <code>/show-by-votes</code>. Díky <code>dd()</code> (die and dump) tam vidíte krásně přehledný a klikací výstup. A určitě je i seřazený sestupně podle počtu hlasů. Už jsme napůl cesty k zobrazení v Twigu a JSONu. Chci ale udělat ještě jednu věc v <code>QuestionRepository</code>. Trochu zlepšíme naši query a omezíme ji tak, že nám ukáže jen otázky, které mají více než X hlasů. Můžete si to zkusit sami. Kód by měl vypadat nějak takto:
    </p>

    <div class="code">
        <code>
            public function findByVotes(<span class="text-purple-300">$value</span>)<br>
            {<br>
                <span class="text-green-500 pl-4">return</span> $this->createQueryBuilder('q')<br>
                    <span class="pl-8">->andWhere('q.votes > :val')</span><br>
                    <span class="pl-8">->setParameter('val', <span class="text-purple-300">$value</span>)</span><br>
                    <span class="pl-8">->orderBy('q.votes', 'DESC')</span><br>
                    <span class="pl-8">->getQuery()</span><br>
                    <span class="pl-8">->getArrayResult();</span><br>
            }
        </code>
    </div>

    <p>
        Nastavili jsme omezení. Jak? Při volání <code>findByVotes()</code> z Controlleru zadáme i parametr od kolika hlasů výše se mají otázky zobrazovat. Do naší repository funkce jsme pak přidali omezení <code>andWhere()</code>, které se dívá na počet <code>votes</code> a pomeěřuje je s placeholderem <code>:val</code>. Ten je tu z důvodu bezpečnosti, konkrétně SQL injection, vůči čemuž jsme se už bránili, když jsme se učili PDO v PHP. Placeholder pak spárujeme s proměnnou <code>$value</code>. Teď stačí přidat číslo do funkce v <code>MainController</code> a měly by nám vyjet záznamy s hlasy vyššími než 10:
    </p>

    <div class="code">
        <code>
            <span class="text-green-500">dd</span>($questionRepository->findByVotes(10));
        </code>
    </div>

    <p>
        Konečně jdeme k renderování dat důstojným způsobem. Upravte si funkci tak, aby vám renderovala data do <code>showByVotes.html.twig</code>:
    </p>

    <div class="code">
        <code>
            <span class="text-gray-400">...</span><br>
            <span class="text-green-500">return</span> $this->render('main/showByVotes.html.twig', [<br>
                <span class="pl-4">'questions' => $questionRepository->findByVotes(10)</span><br>
            ]);<br>
            <span class="text-gray-400">...</span>
        </code>
    </div>

    <p>
        Vytvoříme <code>main/showByVotes.html.twig</code> následujícím způsobem:
    </p>

    <div class="code">
        <code>
            {% verbatim %}
                <span class="text-red-500">{% extends 'base.html.twig' %}</span><br>
                <br>
                {% block title %}Zvídavé dotazy{% endblock %}<br>
                <br>
                {% block body %}<br>
                    <span class="pl-4">&lt;ul&gt;</span><br>
                        <span class="pl-8 text-green-500">{% for question in questions %}</span><br>
                            <span class="pl-12">&lt;li&gt;</span><br>
                                <span class="pl-16 text-purple-300">{{ question.date|date('d.n.Y H:i') }} - &lt;strong&gt;{{ question.name }}&lt;/strong&gt; - {{ question.text }} - {{ question.votes }}</span><br>
                            <span class="pl-12">&lt;/li&gt;</span><br>
                        <span class="pl-8 text-green-500">{% endfor %}</span><br>
                    <span class="pl-4">&lt;/ul&gt;</span><br>
                {% endblock %}
            {% endverbatim %}
        </code>
    </div>

    <p>
        Vidíte, že v Twigu se k jednotlivým atributům objektu přistupuje jako v JavaScriptu pomocí <code>.</code>(tečky). Jak jsem už jednou zmínil, nemáme v Twigu <code>foreach</code>, ale jeho funkci zastoupí <code>for</code>. Pak je tu ještě jedna věc, která stojí za zmínku, a to jsou filtry v Twigu. Můžete ho zaznamenat u <code>question.date</code>. Kdybychom neaplikovali filtr, viděli bychom error, že datetime objekt se neumí vykreslit. Filtry pomáhají právě při formátování různých typů proměnných. Doporučuji si o tom něco přečíst v
        <a href="https://twig.symfony.com" class="hover:underline" target="_blank" rel="noopener noreferer">dokumentaci Twigu</a>, která je přístupně napsaná. Pro nás je zásadní teď poslat ta samá data přes Api. Proto uděláme paralelu k funkci v <code>MainControlleru</code> i v <code>ApiControlleru</code>, kam dodáme následující:
    </p>

    <div class="code">
        <code>
            use App\Repository\QuestionRepository;<br>
            <span class="text-gray-400">...</span><br>
            <span class="text-red-500">#[Route('/api/show-by-votes', name: 'api.show-by-votes', methods: ['GET'])]</span><br>
            public function showByVotes(QuestionRepository <span class="text-purple-300">$questionRepository</span>): JsonResponse<br>
            {<br>
            <span class="pl-4 text-green-500">return</span> new JsonResponse(<span class="text-purple-300">$questionRepository</span>->findByVotes(10));<br>
            }
        </code>
    </div>

    <p>
        Už by to nemělo být nic nového pod sluncem. Vracíme <code>JsonResponse</code> s daty, které nám vyhodí <code>QuestionRepository</code>. Tady se nám vyplatilo nechat si data interpretovat jako asociativní pole. Schválně si v <code>QuestionRepository.php</code> zkuste nechat <code>getResult()</code> místo <code>getArrayResult()</code>, které jsme tam prozíravě zavedli už na začátku.
    </p>

    <h3 class="text-lg text-gray-50 mt-12">Výsledek:</h3>
    <p>
        Úspěšně jsme vytvořili výpis záznamů z databáze! Na výsledek se můžete podívat:
    </p>

    <div class="grid grid-cols-2 mt-24 mb-24">
        <div class="text-center font-bold">
            <a href="{{ path('show-by-votes') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako TWIG</a>
        </div>
        <div class="text-center font-bold">
            <a href="{{ path('api.show-by-votes') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako JSON</a>
        </div>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('five') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('seven') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}