{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>ponětí o asyncu v PHP</li>
            <li>Messenger</li>
            <li>Docker (zase)</li>
            <li>RabbitMQ</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            PHP nemá "zabudovanou" asynchronicitu jako třeba Javascript ve svém <code>async -> await</code>. Nicméně to neznamená, že nelze async využít skrze vytvoření fronty, do které se akce zařazují a následně vjiném čase uskutečňují. Symfony podporuje několik technik a technologií, které asynchronicitu umožňují. Základní metodou je fronta úkolů, která se vytváří v databázi v separátní tabulce. My si zkusíme rovnou zprovoznit RabbitMQ (využívá php-amqp), což je komplexní služba, která nám frontu i jednoduše vizualizuje a můžeme tak lépe monitorovat to, co se ve skutečnosti děje. Nejdříve si vše klasicky připravíme a pak se vrhneme na realizaci v kódu. Symfony má bundle Messenger, který nám v tom všem pomůže, takže nainstalujeme:
        </p>

        <div class="code">
            <code>
                symfony composer req messenger
                <button onclick="navigator.clipboard.writeText('symfony composer req messenger')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            A necháme <code>docker compose</code> nainstalovat a rozjet RabbitMQ. Připište do <code>docker-compose.yaml</code> následující (odsaďte na úroveň sekce database, kterou máme zanesenou výše v souboru):
        </p>

        <div class="code">
            <code>
                <span class="text-red-500">rabbitmq:</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;image: 'rabbitmq:management'<br>
                &nbsp;&nbsp;&nbsp;&nbsp;ports:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 5672:5672<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 15672:15672<br>
            </code>
        </div>

        <p>
            Přidělili jsme RabbitMQ dva porty a namapovali na localhost. Můžete je namapovat podle svých potřeb. A rovnou si upravíme nastavení, aby se využívalo AMQP pro tzv. transporty úloh. V souboru <code>.env</code> odkomentujte řádek, který udává cestu k RabbitMQ:
        </p>

        <div class="code">
            <code>
                MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
            </code>
        </div>

        <p>
            A ještě je nutné odkomentovat v <code>config/packages/messenger.yaml</code> řádku obsahující odkaz na naši definici služby v <code>.env</code>:
        </p>

        <div class="code">
            <code>
                async: '%env(MESSENGER_TRANSPORT_DSN)%'
            </code>
        </div>

        <p>
            Na liště Profileru byste nyní pod tlačítkem Server vidět <code>RabbitMQ UI</code> a odkaz <code>Open</code>, který vás navede na webové lokální rozhraní RabbitMQ. Heslo a username je guest, můžete se zkusit přihlásit a rozhlédnout se. Teď už se podíváme na implementaci v kódu. Symfony úlohám říká <code>Messages</code> a pracuje s nimi skrze <code>MessageHandler</code>. A všechno propojení je automatizováno, takže de facto na nás zůstává ta hlavní práce - naplnit <code>Message</code> a jeho Handler obsahem. Nejdříve je nutné ale vytvořit soubory. Jak jinak než přes Symfony CLI (nazvat naši <code>Message</code> můžeme jako <code>SendEmailMessage</code>):
        </p>

        <div class="code">
            <code>
                symfony console make:message
                <button onclick="navigator.clipboard.writeText('symfony console make:message')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            Vytvořily se nám dva soubory: <code>src/Message/SendEmailMessage.php</code> a <code>src/MessageHandler/SendEmailMessageHandler.php</code>. Ve třídě <code>SendEmailMessage</code> definujeme data a metody, třídě <code>SendEmailMessageHandler</code> říkáme, jak s těmito daty má nakládat. Přijde mi to jako pralela Entity a Controlleru, kde funguje podobný vztah. Nejdříáv se podívejme tedy na <code>SendEmailMessage.php</code> a dejme ho do následující podoby:
        </p>

        <div class="code">
            <code>
                namespace App\Message;<br>
                <br>
                <span class="text-purple-300">use App\Entity\Question;</span><br>
                <br>
                final class SendEmailMessage<br>
                {<br>
                    <span class="pl-4">public function __construct(</span><br>
                    <span class="pl-8 text-purple-300">private Question $question</span><br>
                    <span class="pl-4">) {}</span><br>
                <br>
                    <span class="pl-4">public function getId(): int</span><br>
                    <span class="pl-4">{</span><br>
                    <span class="pl-8 text-green-500">return</span> $this->question->getId();<br>
                    <span class="pl-4">}</span><br>
                }
            </code>
        </div>

        <p>
            Této <code>Message</code> budeme při volání předávat objekt <code>Question</code> (to se děje v Controlleru, k němu se ještě vrátíme...). Takže ho inicializujeme přes konstruktor. Pak jsme si zadefinovali funkci <code>getId()</code>, která je zkratkou k metodě Entity <code>Question</code>. Jasnější to bude při využití v handleru, kam dáme kód, který už dobře známe z Controlleru:
        </p>

        <div class="code">
            <code>
                <span class="text-red-500">public function __construct(</span><br>
                    <span class="pl-4">private MailerInterface $mailer,</span><br>
                    <span class="pl-4">private string $adminMail</span><br>
                <span class="text-red-500">) {}</span><br>
                <br>
                public function __invoke(SendEmailMessage $message)<br>
                {<br>
                <span class="pl-4">$email = (new Email())</span><br>
                    <span class="pl-8">->from('aplikace@inventi-overflow.cz')</span><br>
                    <span class="pl-8">->to($this->adminMail)</span><br>
                    <span class="pl-8">->subject('Nový dotaz z Inventi Overflow')</span><br>
                    <span class="pl-8">->text('Přibyl nový dotaz č. '<span class="text-purple-300">$message->getId()</span>)</span><br>
                <span class="pl-4">;</span><br>
                <br>
                <span class="pl-4">$this->mailer->send($email);</span><br>
                }
            </code>
        </div>

        <p>
            Určitě nezapomeňte na importy, které jsme použili i v Controlleru, jinak by nás tento kód už neměl překvapit. Rozdíl je, že jsme použili konstruktor k injektování globálního argumentu <code>$adminMail</code> a služby Maileru <code>$mailer</code>. Ještě ale stále nejsme u konce. Kód bude momentálně fungovat, ale stále ne asynchronně. Jednak musíme celý řetězec vyvolat (dispatchovat) z Controlleru, jednak musíme Symfony dát vědět, že konkrétně <code>SendEmailMessage</code> má být řešena async. Začneme konfigurákem v sekci <code>routing</code>:
        </p>

        <div class="code">
            <code>
                'App\Message\SendEmailMessage': async
            </code>
        </div>

        <p>
            Opět si pohlídejte odsazování... Momentálně nám chybí dispatch v Controlleru. Místo celého bloku kódu, který jsme věnovali odeslání emailu nám vystačí jedna řádka, ale změní se importy a parametry funkce <code>new()</code>. Výsledek by měl vypadat nějak takto.
        </p>

        <div class="code">
            <code>
                use Symfony\Component\Messenger\MessageBusInterface;<br>
                use App\Message\SendEmailMessage;<br>
                <span class="text-gray-400">...</span><br>
                public function new(Request $request, EntityManagerInterface $entityManager, <span class="text-purple-300">MessageBusInterface $bus</span>): Response|RedirectResponse<br>
                <span class="text-gray-400">...</span><br>
                <span class="pl-8">$entityManager->flush();</span><br>
                <br>
                <span class="pl-8 text-purple-300">$bus->dispatch(new SendEmailMessage($question));</span><br>
                <br>
                <span class="pl-8">$this->addFlash('success', 'Dotaz byl úspěšně přijat');</span><br>
                <span class="text-gray-400">...</span>
            </code>
        </div>

        <p>
            Tímto krokem jsme jednak zpřehledněli kód, jednak jsme dosáhli toho, že se poslání emailu řeší přes RabbitMQ. Pořád to ovšem není vše. Pokud byste teď vyzkoušeli funkcionalitu a přidali nový dotaz, sice se uloží ale email nikde! Přitom RabbitMQ běží... Symfony ale nic Rabbitu neposílá... Je to tím, že na pozadí musí běžet proces, který Rabbitu posílá příkazy ze Symfony a fakticky hlídá frontu. Představte si ho jako vyhazovače u klubu před nímž se tvoří zástup lidí. Hlídač ji sleduje a pouští lidi dovnitř. V baru se pak děje to hlavní - pije a tancuje. Jen v našem případě je ta hlavní činnost trošičku nudnější - odešle se email - a vyhazovač není nabouchanec z posilky, ale symfonní skript, kterému se říká worker. Tak ho spustíme:
        </p>

        <div class="code">
            <code>
                symfony console messenger:consume -vv
                <button onclick="navigator.clipboard.writeText('symfony console messenger:consume -vv')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <h3 class="text-lg text-gray-50 mt-12">Výsledek:</h3>
        <p>
            Můžete zkoušet vytvořit nové dotazy, tentokrát už bez dlouhého načítání a časové prodlevy, a sledovat výstup workeru. Pokud je vše v pořádku, mělo by se tam pokaždé zobrazit několik info zpráv o tom, že se úloha/zpráva předává jednotlivým třídám. A v Mailtrapu by se vám měla objevovat nová upozornění. Podívejte se na výsledek, byť se fakticky v uživatelském prostředí nic nezměnilo...
        </p>

        <div class="mt-24 mb-24">
            <div class="text-center font-bold">
                <a href="{{ path('new') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako TWIG</a>
            </div>
        </div>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('nine') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('eleven') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}