{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>základní znalost filozofie containerů</li>
            <li>nainstalovaný Docker a docker-comopose</li>
            <li>úžas</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Už máme za sebou základní představení dvou písmenek z MVC - Twig nám zprostředkuje View a Controllery v <code>src/Controller</code> už také nějaké máme. Co písmeno M? Než k němu přistoupíme, potřebujeme rozběhnout přece databázi! A rozhodně si nechceme zaplevelit lokální prostředí různými databázemi a tabulkami, které využijeme jednou a pak zahodíme. Proto rovnou sáhneme po Dockeru. To nám zjednoduší celý proces, i když se to může zdát jako spousta konfigurace. Vtip Symfony je v tom, že to je tak jednoduché, až to bolí. To jiný framework, se kterým jsem se mohl setkat, takhle nemá.
        </p>

        <p class="mt-6">
            Jestli nemáte Docker nainstalovaný, <a href="https://docs.docker.com/engine/install/" class="hover:underline"><strong>jděte na to</strong></a> a to včetně
            <a href="https://docs.docker.com/compose/install/" class="hover:underline"><strong>docker compose</strong></a>. To zvládnete. Ještě budeme potřebovat jednu věc, kterou si hrozně oblíbíte: <strong>Profiler</strong>. Je to nástroj pro debugování, monitorování toho, co se při requestu děje, přistoupíte skrze něj i k logům apod. Je to takový švýcarský nožík vývojáře. A opět - jiný framework to nemá takhle zvládnuté. Když se zpětně podívám na Tracy z Nette, tak se sám sebe ptám, proč jsem se tak trápil... Jo, takže Profiler:
        </p>

        <div class="code">
            <code>symfony composer req profiler</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req profiler')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Když si nyní zobrazíte náš <code>Hello World</code>, uvidíte, že dole se objevila nová lišta. Hola Porfiler! A hned nám říká spoustu věcí: HTTP staus kód, interní název cesty, reakční dobu apod. Ale podívejme se hlavně doprava. Při přejetí myší nad logem Symfony se nám zobrazí, co všechno ze Symfony ekosystému nám běží. Teď samozřejmě nic, ale za chvíli by nám měl zezelenat <code>Docker Compose</code>. Tak jdeme na to.
        </p>

        <p class="mt-6">
            Vytvořte si v hlavní složce konfigurační soubor <code>docker-compose.yaml</code> s následujícími parametry, které nám zajistí provoz PostgreSQL. Pozor! Odsazení je důležité!
        </p>

        <div class="code">
            <code>
                version: '3.7'<br>
                services:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;database:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;image: 'postgres:alpine'<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;environment:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POSTGRES_PASSWORD: main<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POSTGRES_USER: main<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POSTGRES_DB: main<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ports:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 5432:5432<br>
            </code>
        </div>

        <p>
            To je celé. Žádná složitá konfigurace, všechno to za nás pak udělá Docker. Konfigurační položky jsou snad dost intuitivní a čitelné, abych je nemusel vysvětlovat včetně mapování portů (můžete si pak kontrolovat, jak se mapují přes <code>docker-compose ps</code>). Takže stačí jen container rozběhnout, klasicky v daemon módu:
        </p>

        <div class="code">
            <code>docker-compose up -d</code>
            <button onclick="navigator.clipboard.writeText('docker-compose up -d')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Tím se nám rozběhla databáze a změnila se barva v liště Profileru! Najednou byste měli vidět, že <code>Docker Compose</code> běží a zároveň nám zezelenaly i <code>Env Vars</code>, tedy proměnné prostředí, které se čerpají z containeru. Symfony tedy hned ví, že máme databázi <code>main</code> a také usera a heslo. Vše díky pár řádkům v <code>docker-compose.yaml</code>. A pokud se ptáte, jestli to tak funguje i s dalšími aplikacemi jako třeba RabbitMQ nebo Redis, tak ano.
        </p>

        <p class="mt-6">
            Ještě si uděláme náskok do další kapitoly, kde budeme probírat Doctrine a "modely". Doctrine Symfony umožňuje jednoduchým způsobem komunikovat s databází. Vše si ukážeme, ale je potřeba to Doctrine nainstalovat. Spusťte následující:
        </p>

        <div class="code">
            <code>symfony composer req orm</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req orm')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Ve složce <code>src</code> vznikly dvě podsložky <code>Entity</code> a <code>Repository</code>, o tom ale později. Teď si hlavně zkuste do terminálu napsat:
        </p>

        <div class="code">
            <code>symfony console doctrine</code>
            <button onclick="navigator.clipboard.writeText('symfony console doctrine')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Vyjede vám seznam příkazů, se kterými si jde hrát. Zatím s nimi nic dělat nebudeme, ale je dobré vědět, že se Symfony CLI opět rozrostlo o nové parametry.
        </p>

    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('two') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('four') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}