{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>PHPUnit (zase)</li>
            <li>trpělivost (opět)</li>
            <li>REST API</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Funkcionální testy nám pomáhají simulovat requesty, které dělá uživatel, a kontrolovat jejich výsledky. My si zkusíme otestovat funkci našeho současného <code>ApiControlleru</code>, kde bychom zatím měli mít jen tři funkce: <code>main()</code>, <code>showByVotes()</code> a <code>vote()</code>. Kód obohatíme a otestujeme. Nejdřív si ale vyzkoušíme funkcionální test na již existující funkci, abychom viděli na jednoduchém příkladu princip test. Vytvoříme teda hned testovací soubor:
        </p>

        <div class="code">
            <code>
                symfony console make:test
                <button onclick="navigator.clipboard.writeText('symfony console make:test')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            Test pojmenujeme <code>ApiRequestTest</code> a zvolíme tentokrát variantu testu <code>WebTestCase</code>. Zkuste <code>ApiRequestTest.php</code> upravit následujícím způsobem:
        </p>

        <div class="code">
            <code>
                public function <span class="text-purple-300">testGetQuestionsByVotes()</span>: void<br>
                {<br>
                    <span class="pl-4">$client = static::createClient();</span><br>
                    <span class="pl-4 text-purple-300">$client->request(</span><br>
                        <span class="pl-8 text-purple-300">'GET',</span><br>
                        <span class="pl-8 text-purple-300">'/api/show-by-votes'</span><br>
                        <span class="pl-4 text-purple-300">);</span><br>
                    <br>
                    <span class="pl-4">echo $client->getResponse();</span><br>
                    <span class="pl-4">$this->assertEquals('200', $client->getResponse()->getStatusCode());</span><br>
                }
            </code>
        </div>

        <p>
            Funkce <code>testGetQuestionsByVotes()</code> si nejprve vytvoří klienta. Tento klient obsahuje metodu <code>request()</code>, která může mít hodně parametrů. Pouze 2 jsou však povinné: metoda (v tomto případě <code>GET</code>) a url (<code>/api/show-by-votes</code>). Předposlední řádek nám do terminálu vypíše, jak vypadá response a poslední řádek funkce je aserce, že náš request proběhne OK (200). PHPUnit má ještě speciální aserci <code>assertResponseIsSuccessful()</code>, ale chceme si zvykat na status kódy, proto jsem zvolil tuto zdlouhavější formu... Zkusme si teď projet test:
        </p>

        <div class="code">
            <code>
                symfony php bin/phpunit tests/ApiRequestTest.php
                <button onclick="navigator.clipboard.writeText('symfony php bin/phpunit tests/ApiRequestTest.php')" class="text-gray-600 float-right hover:underline">Kopírovat</button>

            </code>
        </div>

        <p>
            Test by nám měl vyhodit <code>OK (1 test, 1 assertion)</code>. Schválně si zkuste změnit status kód při aserci a zkontrolujte tak, že test probíhá v pořádku. Můžete si vyzkoušet napsat podobné funkce, ale zatím jsme nevyzkoušeli to zajímavé. Zkusíme si vytvořit novou funkci v <code>ApiControlleru</code>, která nám bude vytvářet nový dotaz. Podobný kód už máme v <code>MainControlleru</code> z 8. kapitoly. Teď manipulaci s otázkami převádíme do REST API a otestujeme. Takže nová funkce <code>new()</code>:
        </p>

        <div class="code">
            <code>
                <span class="text-red-500">#[Route('/api/question/new', name: 'api.question.new', methods: ['POST'])]</span><br>
                public function new(Request $request, EntityManagerInterface $entityManager): JsonResponse<br>
                {<br>
                <span class="pl-4">if($request->getContent() === "") {</span><br>
                    <span class="pl-8 text-green-500">return</span> new JsonResponse(<br>
                    <span class="pl-12">[</span><br>
                        <span class="pl-16 text-purple-300">'type' => $this->generateUrl('api.question.new'),</span><br>
                        <span class="pl-16 text-purple-300">'title' => 'Request je null.',</span><br>
                        <span class="pl-16 text-purple-300">'status' => 400,</span><br>
                        <span class="pl-16 text-purple-300">'detail' => 'Poslaný request neobsahuje žádná data'</span><br>
                    <span class="pl-12">],</span><br>
                        <span class="pl-12 text-red-500">400,</span><br>
                        <span class="pl-12 text-purple-300">['Content-Type' => 'application/problem+json']</span> <span class="pl-12 text-gray-400">//třetí argument JsonResponse nastavuje hlavičky</span><br>
                    <span class="pl-8">);</span><br>
                <span class="pl-4">} else {</span><br>
                    <span class="pl-8">$data = json_decode($request->getContent(), false);</span> <span class="pl-12 text-gray-400">//request přijde jako JSON a nechci asociativní pole</span><br>
                    <br>
                    <span class="pl-8">$question = new Question();</span><span class="pl-12 text-gray-400">//todo: refactorovat</span><br>
                    <span class="pl-8">$question->setName($data->name);</span><br>
                    <span class="pl-8">$question->setText($data->text);</span><br>
                <span class="pl-8">$question->setVotes(0);</span><br>
                <span class="pl-8">$question->setDate(new \DateTime());</span><br>
                <br>
                <span class="pl-8">$entityManager->persist($question);</span><br>
                <span class="pl-8">$entityManager->flush();</span><br>
                <br>
                <span class="pl-8 text-green-500">return</span> new JsonResponse(</span><br>
                <span class="pl-12">['success' => 'Dotaz byl úspěšně vytvořen.'],</span><br>
                <span class="pl-12 text-red-500">201,</span><br>
                <span class="pl-12">[</span><br>
                <span class="pl-16 text-purple-300">'Location' => '/api/question/'.$question->getId(),</span><span class="pl-12 text-gray-400">//todo: vygenerovat backlink systematicky</span><br>
                <span class="pl-16">'Content-Type' => 'application/json'</span><br>
                <span class="pl-12">]</span><br>
                <span class="pl-8">);</span><br>
                <span class="pl-4">}</span><br>
                }
            </code>
        </div>

        <p>Uff, celkem dlouhý kód. Proto ho v budoucnu zkusíme refactorovat... Nicméně prozatím by měl sloužit. Na začátku funkce si kontrolujeme, jestli nám uživatel neposílá prázdný request. Pokud tomu tak je, tak vracíme <code>JsonResponse</code> s chybovou zprávou formátovanou podle standardu
            <a href="https://lakitna.medium.com/understanding-problem-json-adf68e5cf1f8" class="hover:underline">problem+json</a>, status kódem 400 (Bad Request) a s hlavičkou! Třetí argument <code>JsonResponse</code> umožňuje posílat vlastní hlavičky. Tady jsme to využili k tomu, abychom specifikovali <code>Content-Type</code> na zmíněný <code>problem+json</code>. Ještě se nám tam objevila jedna funkce, kterou jsme předtím nepoužili: <code>generateUrl()</code>. Ta generuje z názvů cest, které definujeme v docblockcích či atributech url.
        </p>

        <p class="mt-6">
            V druhé větvi podmínky si dekódujeme příchozí JSON z requestu. Nerad pracuji s poli, tak si nechám výsledek jako objekt, což mi zaručuje druhý argument <code>false</code>. Odtud až po return je to známý kód, který není nutné vysvětlovat. Na konci vracíme JSON se zprávou, že se povedlo dotaz zpracovat a vracíme kód 201 (Created) s hlavičkou <code>Location</code>, která zatím vytváří link, který nikam neodkazuje, protože nemáme implementovanou funkci k zobrazení detailu jedné konkrétní otázky. Nicméně jsme se předpřipravili a už něco frontendu ukazujeme.
        </p>

        <p class="mt-6">
            Jdeme to otestovat! Uděláme si nejdříve jednu testovací funkci <code>testNewQuestion()</code> s tímto tělem:
        </p>

        <div class="code">
            <code>
                <span class="text-gray-400">...</span><br>
                $client = static::createClient();<br>
                $client->request(<br>
                    <span class="pl-4 text-purple-300">method:</span> 'POST',<br>
                    <span class="pl-4 text-purple-300">uri:</span> '/api/question/new',<br>
                    <span class="pl-4 text-purple-300">server: ['Content-Type' => 'application/json'],</span><br>
                    <span class="pl-4 text-purple-300">content: '{"name":"Náhodná pracovní otázka č. '.rand(0,100).'", "text":"Náhodný problém v práci č.'.rand(1,15).'"}'</span><br>
                );<br>
                <br>
                echo $client->getResponse();<br>
                $this->assertEquals(<span class="text-red-500">201</span>, $client->getResponse()->getStatusCode());<br>
                <span class="text-gray-400">...</span>
            </code>
        </div>

        <p>
            Request nám trochu nabobtnal, což se dalo očekávat. Kdybych používal PHP < 8, navíc by byl o dva řádky delší - musel bych totiž mezi <code>uri</code> a <code>server</code> vepsat dvě prázdná pole pro argumenty <code>parameters</code> a <code>files</code> (schválně si rozklikněte <code>vendor/symfony/browser-kit/AbstractBrowser.php</code> a podívejte se, co za argumenty request přijímá). PHP 8 mi umožňilo použít pojmenované argumenty a zjednodušit mi tak život.
        </p>

        <p class="mt-6">
            Pozornost si žádá hlavně argument <code>content</code>, kterému podáváme JSON s potřebnými údaji pro vznik nového dotazu. V aserci se ptáme na status kód. Když si teď projedeme funkci testem
        </p>

        <div class="code">
            <code>
                symfony php bin/phpunit tests/ApiRequestTest.php --filter testNewQuestion
                <button onclick="navigator.clipboard.writeText('symfony php bin/phpunit tests/ApiRequestTest.php --filter testNewQuestion')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
            </code>
        </div>

        <p>
            měl by nám PHPUnit vyhodit OK. Mimochodem všimněte si, že díky <code>--filter</code> jsem mohl testovat jednu konkrétní metodu v testovací třídě... Každopádně zatím testy ukazují, že jsme napsali kód správně. Zkuste si zakomentovat parametr <code>content</code> v requestu a znovu projet test. Co vyjde? Test selže a vidíme, že vyhodí <code>problem+json</code> s formátovanou zprávou a kódem 400! To jsme přesně očekávali.
        </p>

        <h3 class="text-lg text-gray-50 mt-12">Výsledek:</h3>
        <p>
            Aby výstup testů byl hezký a zelenal se, můžete si zkusit vytvořit funkci <code>testNewQuestionFailure()</code>, kde nanplníte argument <code>content</code> a bude očekávat status kód 400.  Když si otestujete celou třídu <code>symfony php bin/phpunit tests/ApiRequestTest.php</code>, měly by se vám postupně zobrazit 3 responsy (200, 201, 400) a zelené <code>OK (3 tests, 3 assertions)</code>.
        </p>

    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('eleven') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('twelve') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}