{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-12">
        {% include 'chapter/components/header.html.twig' %}

        <ul class="text-gray-50 list-disc pl-6">
            <li>Symfony CLI</li>
            <li>IDE</li>
            <li>základní chápání MVC</li>
        </ul>
    </div>

    <div class="mt-12">
        <h3 class="text-lg text-gray-50">Postup:</h3>
        <p>
            Když se podíváme na localhost v prohlížeči, vidíme pozdrav od Symfony, který ve skutečnosti je jen estetický 404 error. Je čas appku naplnit nějakým základním obsahem. Klasicky "pozdravíme svět". Uděláme to skrze View (V ve zkratce MVC) templatovacího balíku <strong><a href="https://twig.symfony.com" rel="noopener noreferer" target="_blank" class="hover:underline">Twig</a></strong> a jako <strong>JSON</strong>, který nám pošle server zpátky při GET requestu. Twig jako template se nijak neliší například od Laravelího Bladeu nebo Latte od Nette. Jen se syntaxí blíží spíš JavaScriptu než PHP (a co mě trochu mrzí je, že nemá <code>foreach</code>). Tak Twig rovnou nainstalujeme přes Symfony CLI.
        </p>

        <div class="code">
            <code>symfony composer req twig</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req twig')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            Ani to nevíte, ale použili jsme další důležitou komponentu Symfony ekosystému: <a href="https://flex.symfony.com/" target="_blank" rel="noopener noreferer" class="hover:underline">Symfony Flex</a>, tedy repozitář knihoven, resp. bundlů, tohoto frameworku. Samozřejme do své aplikace můžete přes composer nainstalovat co chcete, ale Flex nabízí prověřenou sadu, nad kterou mají kontrolu vývojáři Symfony. Takže integrace do frameworku je hrozně jednoduchá. Symfony bundles jsou postavené na tzv. receptech, které automatizují všechno nechutné konfigurování.
        </p>

        <p class="mt-6">
            Doteď jsme ani nepotřebovali použít naše IDE, ale už přichází čas. Podíváme se na to, kde se soubory, které budeme využívat, nacházejí. Nebudu to nijak prodlužovat, to nejdůležitější v tento moment najdete ve složce <code>./src</code> a <code>./templates</code> (ve verzích Symfony < 5 to může být trošičku jinak). 90 % toho, co budeme dělat se děje ve složce <code>src</code>, kde se budou nacházet Controllery (C ve zkratce MVC) apod. Pokud se budeme věnovat jen vývoji API, troufám si tvrdit, že dokonce 99 % práce bude právě ve složce <code>src</code>.
        </p>

        <p class="mt-6">
            Ve složce Controller ale nic není! Je čas nažhavit Symfony CLI a přidat díky Flexu tzv. MakerBundle, tedy rozšíření, které nám automatizuje vytváření souborů. A ještě k tomu rovnou přidáme bundle <code>annotations</code>, který nám pomůže při routování.
        </p>

        <div class="code">
            <code>symfony composer req annotations maker</code>
            <button onclick="navigator.clipboard.writeText('symfony composer req annotations maker')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            A po úspěšném dokončení přistoupíme ke generování Controlleru. Všimněte si, že volání <code>make</code> je až třetí parametr příkazu Symfony CLI - proudí totiž skrze <code>symfony console</code>:
        </p>

        <div class="code">
            <code>symfony console make:controller</code>
            <button onclick="navigator.clipboard.writeText('symfony console make:controller')" class="text-gray-600 float-right hover:underline">Kopírovat</button>
        </div>

        <p>
            CLI aplikace se vás zeptá na to, jak se má nový Controller jmenovat. Můžeme zadat třeba <code>MainController</code> a odentrujeme. Automaticky se nám vytvoří díky receptu Twig bundlu i podsložka <code>main</code> v templatech a soubor <code>index.html.twig</code>. To hlavní je ale ve složce <code>src/Controller</code>, kde se vytvořil náš <code>MainController</code>. Ještě před upravováním souboru ale zopakujte <code>symfony console make:controller</code> a vytvořte <code>ApiController</code>, kam budeme soustředit náš kód pro REST API. Můžete i s klidem smazat složku <code>api</code> v templatech, protože je zbytečná.
        </p>

        <p class="mt-6">
            Konečně se dostaneme ke Controlleru! Otevřete si ve svém IDE <code>src/Controller/MainController.php</code>. Měli byste vidět něco podobného:
        </p>

        <div class="code">
            <code>
                <span class="text-red-500">#[Route('/main', name: 'main')]</span><br>
                public function index(): Response<br>
                {<br>
                    <span class="pl-4"><span class="text-green-500">return</span> $this->render('main/index.html.twig', [</span><br>
                        <span class="pl-8">'controller_name' => 'MainController',</span><br>
                    <span class="pl-4">]);</span><br>
                }
            </code>
        </div>

        <p>
            Všimněte si návratové hodnoty funkce. Pro Controller by mělo platit, že vždy vrací nějakou instanci Response. Díky Twigu je injektovaná metoda <code>render</code>, která právě vrací <code>Response</code> a IDE nám proto neřve, že vracíme nějakou podivnost. To není asi nic nestandarního, ale třeba z Laravelu jsem byl zvyklý, že se vrací objekt <code>View</code>. Zmiňuji to, protože Laravel je položený na základech ze Symfony, a proto je tahle rozdílnost zajímavá.
        </p>

        <p class="mt-6">
            No nic... K těm důležitějším věcem. Koukněte na první řádek kódu. To je výsledek bundle <code>annotations</code> a je to jedna z věcí, která dělá Symfony přístupnou developerům. Jestli přicházíte z jiného frameworku jako já, tak jste možná zvyklí, že cesty se píšou do zvláštního souboru nebo si je framework tahá z názvu funkcí v Controlleru. Symfony podporuje díky atributům (PHP 8) nebo docblockům (PHP 7) routování přímo v Controlleru a přímo u funkcí, jichž se cesta týká. To mi přijde fakt vymáklé. Jak vidíte, anotace mají dva základní parametry: cestu a název. Využití názvu zatím neřešíme, ale hodí se. Teď jen uděláme menší změnu a Twigu pošleme jako proměnou místo <code>controller_name</code> proměnou <code>msg</code> s vlastním stringem:
        </p>

        <div class="code">
            <code>
                <span class="text-gray-400">...</span><br>
                    'msg' => 'Hello World!'<br>
                <span class="text-gray-400">...</span>
            </code>
        </div>

        <p>
            Tím jsme poslali náležitému <code>.twig</code> vlastní proměnou s vlastní hodnotou, kterou mu teď přikážeme zobrazit. Sami si otevřete <code>templates/main/index.html.twig</code> a koukněte se, co bylo vygenerováno Symfony CLI. Vidíte, že Twig jednak extenduje základní šablonu z <code>base.html.twig</code>, jednak člení obsah do bloků. Přijde mi to celkem intuitivní a podobné temaplatovacím jazykům v jiných frameworcích, takže to nechci moc rozebírat a navíc my se věnujeme hlavně backendu a ve většině případů Twig vůbec používat nebudeme. Ale pro představu, jak se posílají data do View to tu chci ukázat. Zkuste upravit <code>index.html.twig</code> následovně:
        </p>

        <div class="code">
            <code>
                {% verbatim %}
                    {% extends 'base.html.twig' %}<br>
                    <br>
                    {% block title %}<span class="text-purple-300">{{ msg }}</span>{% endblock %}<br>
                    <br>
                    {% block body %}<br>
                        <span class="text-purple-300 pl-4">{{ msg }}</span><br>
                    {% endblock %}
                {% endverbatim %}
            </code>
        </div>

        <p>
            Ještě než si spustíme náš Hello World, podíváme se do <code>ApiControlleru</code>. Je to stejné, jako v <code>MainControlleru</code>. Zkuste kód přepsat následovně, hned si vysvětlíme, co se děje:
        </p>

        <div class="code">
            <code>
                use Symfony\Component\HttpFoundation\JsonResponse;<br>
                <span class="text-gray-400">...</span><br>
                <span class="text-red-500">#[Route('/api/main', name: 'api.main', methods: ['GET'])]</span><br>
                public function index(): JsonResponse<br>
                {<br>
                    <span class="pl-4"><span class="text-green-500">return</span> new JsonResponse(['msg' => 'Hello World!']);</span><br>
                }
            </code>
        </div>

        <p>
            Pár řádků kódu, ale spoustu na vysvětlení, že?
        </p>

        <ol class="text-gray-50 list-decimal pl-8 mt-6">
            <li>Importovali jsme třídu <code>JsonResponse</code>, která je rozšířením <code>Response</code>, kterou známe z předešlého Controlleru. Tuto třídu využíváme jako návratovou hodnotu u funkce <code>index()</code>.</li>
            <li>"Označkovali" jsme funkci díky anotaci/atributu tak, aby se vyvolala při GET requestu na cestě <code>api/main</code>. To se zařídilo parametrem <code>methods: ['GET']</code>.</li>
            <li>Vracíme novou instanci <code>JsonResponse</code>, kterému předáváme asociativní pole. Pak je to už na <code>JsonResponse</code>, aby udělal své kouzlo a převedl pole na JSON.</li>
        </ol>

        <h3 class="text-lg text-gray-50 mt-12">Výsledek:</h3>
        <p>
            Úspěšně jsme vytvořili dva typy <code>Response</code>; koukli jsme na to, jak základně funguje Controller a ukázali jsme si Symfony Flex. A výsledek? Umíme pozdravit svět:
        </p>

        <div class="grid grid-cols-2 mt-24 mb-24">
            <div class="text-center font-bold">
                <a href="{{ path('main') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako TWIG</a>
            </div>
            <div class="text-center font-bold">
                <a href="{{ path('api.main') }}" class="text-green-500 p-10 border rounded hover:bg-gray-600" target="_blank" rel="noopener noreferer">Jako JSON</a>
            </div>
        </div>
    </div>

    <div class="mt-12 mb-12 grid grid-cols-2">
        <div>
            <a href="{{ path('home') }}" class="text-purple-300 hover:underline"><< Domů</a>
        </div>

        <div class="md:text-right">
            <a href="{{ path('one') }}" class="text-red-500 hover:underline">< Předchozí</a> |
            <a href="{{ path('three') }}" class="text-red-500 hover:underline">Dále ></a>
        </div>
    </div>
{% endblock %}