{% extends 'base.html.twig' %}

{% block title %}Výpis otázek{% endblock %}

{% block body %}
    <div class="mt-12">
        <h1 class="text-4xl text-gray-50">Nejnovější otázky</h1>
        <h4 class="text-lg text-white">Inventi Overflow <span class="text-purple-300">¯\_(ツ)_/¯</span></h4>
    </div>

    {% for msg in app.flashes('success') %}
        <div class="mt-6 text-green-500 border rounded p-3">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="mt-12">
        {% for q in questions %}
            <div class="border rounded mb-6">
                <h6 class="text-gray-50 pl-4 pt-4 text-lg font-bold">{{ q.name }}</h6>
                <span class="text-sm text-gray-300 pl-4">{{ q.date|date('d.n.Y H:i:s') }}</span>

                <p class="text-gray-50 p-4">
                    {{ q.text }}
                </p>

                <form action="{{ path('vote', { id: q.id }) }}" method="POST">
                    <div class="text-gray-50">
                        <span class="text-gray-50 pl-4 pb-4">Hlasy: {{ q.votes }}</span>
                        <button type="submit" class="pl-4 pb-4" name="direction" value="up">▲</button>
                        <button type="submit" class="pl-1 pb-4" name="direction" value="down">▼</button>
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}