{% extends 'base.html.twig' %}

{% block title %}Nová otázka{% endblock %}

{% block body %}
    <div class="mt-12">
        <h1 class="text-4xl text-gray-50">Nová otázka</h1>
        <h4 class="text-lg text-white">Inventi Overflow <span class="text-purple-300">¯\_(ツ)_/¯</span></h4>
    </div>

    <div class="mt-12 text-white">
        {{ form(form) }}
    </div>
{% endblock %}