{% extends 'base.html.twig' %}

{% block title %}Zvídavé dotazy{% endblock %}

{% block body %}
    <ul class="text-white mt-12 list-disc">
        {% for question in questions %}
            <li>
                {{ question.date|date('d.n.Y H:i') }} - <strong>{{ question.name }}</strong> - {{ question.text }} - {{ question.votes }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}