@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Cousine', monospace;
}

p {
    color: azure;
}

.btn-copy {
    color: azure;
    padding: 2px 4px;
    border: 1px solid azure;
    border-radius: 10px;
    transition: 0.3s ease all;
}

.btn-copy:hover {
    background: #484848;
}

.code {
    background: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

code {
    color: #ffff58;
}

input[type=text] {
    background-color: transparent;
    border: 1px solid azure;
    border-radius: 5px;
    color: azure;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 100%;
}

textarea {
    background-color: transparent;
    border: 1px solid azure;
    border-radius: 5px;
    color: azure;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 100%;
}